In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('mail_data.csv')
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [3]:
df.shape

(5572, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [5]:
df['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [6]:
df['Category'] = df['Category'].replace(('ham','spam'),(1,0))

In [7]:
df

      Category                                            Message
0            1  Go until jurong point, crazy.. Available only ...
1            1                      Ok lar... Joking wif u oni...
2            0  Free entry in 2 a wkly comp to win FA Cup fina...
3            1  U dun say so early hor... U c already then say...
4            1  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         0  This is the 2nd time we have tried 2 contact u...
5568         1               Will ü b going to esplanade fr home?
5569         1  Pity, * was in mood for that. So...any other s...
5570         1  The guy did some bitching but I acted like i'd...
5571         1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
x = df['Message']
y = df['Category']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, stratify = y, random_state = 0)

In [26]:
x_train.shape

(5014,)

In [27]:
x_test.shape

(558,)

In [28]:
feature_extraction = TfidfVectorizer(min_df=1, lowercase=True, stop_words= 'english')

In [29]:
x_train_feat = feature_extraction.fit_transform(x_train)

In [30]:
x_test_feat = feature_extraction.transform(x_test)

In [31]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [32]:
model = LogisticRegression()

In [33]:
model.fit(x_train_feat, y_train)

LogisticRegression()

In [34]:
accuracy_score(y_train, model.predict(x_train_feat))

0.96888711607499

In [35]:
accuracy_score(y_test, model.predict(x_test_feat))

0.9713261648745519